html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	color: $color-black;
	background: $color-white;
	font-family: $font-CoFo;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.anchor[id^="anchor-"] {
	position: absolute;
	top: -100px;
	left: 0;
	opacity: 0;
	pointer-events: none;

	@media ($media-desktop) {
		top: -100px;
	}

	@media ($media-tablet) {
		top: -64px;
	}
}

section {
	position: relative;
}

a {
	text-decoration: none;

	&:active,
	&:focus,
	&:hover,
	&:visited {
		text-decoration: none;
	}
}

button,
input,
textarea {
	border: 0;
	outline: 0;
	background: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding: 0;
}

button,
input[type = 'submit'] {
	cursor: pointer;
}

input:disabled,
textarea:disabled,
input:disabled::placeholder,
textarea:disabled::placeholder {
	-webkit-text-fill-color: currentcolor;
	opacity: 1;
}

address,
small,
i {
	font-style: normal;
}

b,
strong {
	font-weight: 600;
}

iframe {
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6,p,ul,li,span,dd,dt,dl,td,th,tr,table {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
}
