// container template
@mixin container() {
	max-width: 1280px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;

	@media ($media-tablet) {
		padding: 0 30px;
	}

	@media ($media-mobile) {
		padding: 0 20px;
	}
}

// connecting fonts
@mixin font($font_name, $file_name, $font_display, $weight, $style) {
	@font-face {
		font-family: $font_name;
		src: url('@/fonts/#{$font_name}/#{$file_name}.woff2') format('woff2'), url('@/fonts/#{$font_name}/#{$file_name}.woff') format('woff');
		font-display: $font_display;
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
