.head {
	padding: 64px 0 0 0;

	&__inner {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin: 46px auto 30px auto;
		max-width: 856px;
	}

	&__description {
		font-size: 20px;
		font-weight: 450;
		line-height: 26px;
		letter-spacing: 0;
		text-align: center;
		margin: 0 auto 40px auto;
		color: $color-white;
		max-width: 392px;
	}
}
