extends ../layout

append sharedVars
	- const pageUrl = '/';
	- const pageTitle = 'Index';
	- const bodyAdditionClass = '';
	- const pageAdditionClass = 'index-page';

block content
	include ../components/index/head
	include ../components/index/swiper-slider
