extends ../layout

append sharedVars
	- const pageUrl = '/';
	- const pageTitle = 'Page Title';
	- const bodyAdditionClass = '';
	- const pageAdditionClass = 'index-page';

block content
	p Content init:
	.container
		h1 This is Index page
		h2
			a(href="/next.html") Link to Next page
	include ../blocks/head
	include ../blocks/vue-init
