extends ../layout

append sharedVars
	- const pageUrl = '/';
	- const pageTitle = 'Index';
	- const bodyAdditionClass = '';
	- const pageAdditionClass = 'index-page';

block content
	include ../components/index/header
	include ../components/index/head
	include ../components/index/premium
	include ../components/index/launch-more
	include ../components/index/roadmap
	include ../components/index/b2c
	include ../components/index/recall
	//include ../components/index/help
	include ../components/index/start
	include ../components/index/footer
