extends ../layout

append sharedVars
	- const pageUrl = '/';
	- const pageTitle = 'Page Title';
	- const bodyAdditionClass = '';
	- const pageAdditionClass = 'index-page';

block content
	include ../blocks/head
	include ../blocks/swiper-slider
