extends ../layout

append sharedVars
	- const pageUrl = '/next';
	- const pageTitle = 'Page Title';
	- const bodyAdditionClass = '';
	- const pageAdditionClass = 'next-page';

block content
	p Content init:
	.container
		h1 This is Next page
		h2
			a(href="/")  Link to Index page
