block head
	.head
		.container
			.head__inner
				h1.head__title All-in-one Marketing CDP to boost your profitability
				p.head__description Increase revenue by building end-to-end communication across all channels based on a single customer profile
			#lottie-vue

