doctype html
html(lang="en")
	//- Vars
	block sharedVars
	//- Head
	head
		title #{pageTitle}
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		//- connect scripts/styles
		<%= htmlWebpackPlugin.tags.headTags %>

	body(class=`${bodyAdditionClass}`)

		main(class=`${pageAdditionClass}`)
			block content

