footer.footer
	.container
		.footer__inner
			.footer__copirite ® Mindbox, 2023
			nav.nav
				ul.nav__list
					li.nav__item
						a.nav__item-link(href="#") Success stories
					li.nav__item
						a.nav__item-link(href="#") A/B test calculator
					li.nav__item
						a.nav__item-link(href="#") Help
					li.nav__item
						a.nav__item-link(href="#") Contacts
					li.nav__item
						a.nav__item-link(href="#") Privacy & Legal
