block head
	.head
		.container
			.head__inner
				h1.head__title All-in-one Marketing CDP to&nbsp;boost your revenue
				p.head__description Increase revenue by&nbsp;building end-to-end omnichannel communication based on&nbsp;a&nbsp;single customer view
			#lottie-vue

