block launch-more
	section.launch-more(data-anchor="campaigns")
		.anchor#anchor-launch-more
		.container
			.launch-more__inner
				h2.launch-more__title Launch more <br>marketing campaigns
				p.launch-more__description Custom campaigns for every stage of&nbsp;the customer journey will help you reach audience with personalized messages via their favorite channels.
			#vue-launch-more
