block launch-more
	.launch-more
		.container
			.launch-more__inner
				h2.launch-more__title Launch more <br>marketing campaigns
				p.launch-more__description The easiest way to&nbsp;boost your sales is&nbsp;to&nbsp;communicate. <br>Building campaigns for every customer journey will help you reach the audience with personalized messages through their preferred channels.
		#swiper-slider
