block premium
	section.premium
		.anchor#anchor-premium
		.container
			.premium__inner
				.premium__img
					img(src="~@/img/index/premium/premium.png" alt="premium")

				.about
					h2.about__title Premium care#[span.mb &nbsp;] free of&nbsp;charge
					p.about__text The first 10&nbsp;clients get a&nbsp;personal customer success manager to&nbsp;support integration, to&nbsp;launch marketing communications and to&nbsp;deliver #[nobr revenue-driven] results.


