block premium
	section.premium
		.container
			.premium__inner
				.premium__img
					img(src="~@/img/index/premium/premium.png" alt="premium")
					.premium__bg
						img(src="~@/img/index/premium/bg-ellips.png")
				.about
					h2.about__title Premium care free of&nbsp;charge
					p.about__text The first 10&nbsp;clients get a&nbsp;personal customer success manager:
					ul.about__list
						li.about__list-item to&nbsp;support integration,
						li.about__list-item to&nbsp;launch marketing communications,
						li.about__list-item to&nbsp;deliver revenue-driven results.

