block recall
	.recall
		.container.js-slider-scroll-container
		.cards.js-slider-scrolling-x
			.cards__item
				.cards__item-head
					img.cards__logo(src="~@/img/recall/tom.svg")
				.cards__person
					img.cards__person-img(src="~@/img/recall/elena-lozhkina.png")
					.cards__person-label Elena Lozhkina, <br>Marketing & E-commerce director
				p.cards__text We&nbsp;successfully launched an&nbsp;omnichannel loyalty program and managed to&nbsp;increase revenue from automared campaigns by&nbsp;300% in&nbsp;8&nbsp;months
				.cards__bottom
					.cards__value
						.cards__value-num +300%
					.cards__description to revenue in 8 months
			.cards__item
				.cards__item-head
					img.cards__logo(src="~@/img/recall/miele.svg")
				.cards__person
					img.cards__person-img(src="~@/img/recall/maxim-ladovir.png")
					.cards__person-label Maxim Ladovir, <br>Head of Digital
				p.cards__text We&rsquo;ve increased the revenue <br>of&nbsp;our direct marketing by&nbsp;21.6% <br>in&nbsp;just eight months
				.cards__bottom
					.cards__value
						.cards__value-num +21.6%
					.cards__description to revenue in 8 months
			.cards__item
				.cards__item-head
					img.cards__logo(src="~@/img/recall/burgerking.svg")
				.cards__person
					img.cards__person-img(src="~@/img/recall/arthur-roschenko.png")
					.cards__person-label Arthur Roschenko, <br>Head of Digital Sales
				p.cards__text We&nbsp;receive additional revenue from loyalty program participants due to&nbsp;their more frequent purchases
				.cards__bottom
					.cards__value
						.cards__value-num +52%
					.cards__description extra revenue in 6 months
			.cards__item
				.cards__item-head
					img.cards__logo(src="~@/img/recall/swan.svg")
				.cards__person
					img.cards__person-img(src="~@/img/recall/mario-bounas.png")
					.cards__person-label Mario Bounas, <br>VP, Global Marketing
				p.cards__text I&rsquo;d say one of&nbsp;the key elements <br>for&nbsp;us is&nbsp;account management. These guys have been there throughout it&nbsp;all, working with&nbsp;us
				.cards__bottom
					.cards__value
						.cards__value-num null
					.cards__description to revenue in 8 months
			.banner
				.banner__inner
					.banner__title These are our clients outside the U.S.
					.banner__text Contact the founder to&nbsp;explore how you can achieve similar results and increase your business efficiency
					a.banner__btn(href="#") Talk to founder

