block roadmap
	section.roadmap(data-anchor="roadmap")
		.anchor#anchor-roadmap
		.container
			.roadmap__inner
				h2.roadmap__title Explore the <br>roadmap to success
				p.roadmap__description Get a&nbsp;campaign plan aligned with the customer journey before joining Mindbox and launch your first bulk and automated campaigns just one week post-implementation.
