block start
	section.start
		.container
			.anchor#anchor-start
			.start__inner
				.start__title-wrapper
					h2.start__title Launch in&nbsp;&nbsp;&nbsp;&nbsp;USA
					img.start__title-flag(src="~@/img/index/start/flag.png")
				p.start__description With 15&nbsp;years of&nbsp;global experience, Mindbox founder Ivan Borovikov is&nbsp;bringing a&nbsp;part of&nbsp;his team to&nbsp;the U.S. Backed by&nbsp;developers and customer service managers, Ivan is&nbsp;leveraging his resources to&nbsp;ensure American clients win with Mindbox.
			.start__wrapper
				#vue-form-start
				.person
					.person__sign
						p.person__sign-text #[span Ivan Borovikov,] <br>Founder of Mindbox
					img.person__img(src="~@/img/index/start/ivan.jpg" alt="Ivan Borovikov")





