.start {
	background: $color-dark-blue-3;
	padding: 80px 0 20px 0;

	@media ($media-tablet) {
		padding: 80px 0 20px 0;
	}

	@media ($media-mobile) {
		padding: 70px 0 0 0;
	}

	.container {
		position: relative;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 86px 0;
	}

	&__title-wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 533px;
		margin: 0 30px 0 0;
	}

	&__title {
		font-size: 130px;
		font-weight: 500;
		line-height: 130px;
		letter-spacing: -0.03em;
		text-align: left;
		color: $color-white;
	}

	&__title-flag {
		height: 72px;
		width: 72px;
		position: absolute;
		left: 111px;
		bottom: 21px;
	}

	&__description {
		display: inline-block;
		font-size: 22px;
		font-weight: 400;
		line-height: 29px;
		letter-spacing: -0.02em;
		color: $color-white;
		width: 100%;
		max-width: 420px;
		margin: 58px 0 0 0;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 550px 1fr;
		grid-column-gap: 20px;
	}

	.person {
		position: relative;
		background: $color-dark-blue-3;
		overflow: hidden;
		border-radius: 8px;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 214px;
			background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
			transform: matrix(1, 0, 0, -1, 0, 0);
			opacity: 0.7;
			z-index: 2;
		}

		&__sign {
			position: absolute;
			bottom: 40px;
			left: 30px;
			z-index: 2;
		}

		&__sign-text {
			display: inline-block;
			font-size: 20px;
			font-weight: 400;
			line-height: 25px;
			letter-spacing: 0;
			color: #A4A4A4;
			padding: 0 0 4px 28px;
			position: relative;
			text-shadow: 0 0 146.317px rgba(0, 0, 0, 0.25);
			width: 100%;
			max-width: 213px;

			span {
				color: $color-white;
			}

			&::before {
				content: '';
				position: absolute;
				top: 5px;
				left: 0;
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background: $color-el-green;
			}
		}

		&__img {
			position: absolute;
			top: -64%;
			left: -143%;
			z-index: 1;
		}
	}

	// start
	// vue components style
	//
	.registration {
		padding: 35px 55px 40px 55px;
		background: #39AA5D;
		border: 5px solid #56D67F;
		border-radius: 8px;

		&__title {
			font-size: 50px;
			font-weight: 480;
			line-height: 50px;
			letter-spacing: -0.04em;
			color: $color-white;
			text-align: center;
			margin: 0 0 30px 0;
		}

		&__description {
			display: inline-block;
			font-size: 22px;
			font-weight: 400;
			line-height: 29px;
			letter-spacing: -0.02em;
			text-align: center;
			color: $color-white;
			margin: 0 0 30px 0;
		}
	}

	.form {
		color: $color-white;
		padding: 0 8px;

		&__wrapper {
			display: flex;
			flex-direction: column;
			background: #FFFFFF;
			border-radius: 8px;
			overflow: hidden;
			padding: 30px 36px 36px 36px;
			margin: 0 0 15px 0;
		}

		&__input-label {
			position: relative;
			display: flex;
			padding: 0 0 14px 0;
			border-bottom: 1px solid #D2D8DE;
			margin: 0 0 25px 0;
			cursor: pointer;
			transition: all .2s;

			&:hover {
				border-bottom: 1px solid $color-dark-blue-3;
				transition: all 0s;
			}

			&.error {
				border-bottom: 1px solid $color-error;
				animation: input-error 0.6s linear 0s forwards;

				&:after {
					content: attr(data-error);
					position: absolute;
					left: 0;
					bottom: -23px;
					font-size: 12px;
					font-weight: 400;
					line-height: 16px;
					letter-spacing: -0.01em;
					text-align: left;
					color: $color-error;
					animation: input-error-opacity 0.6s linear 0s forwards;
				}
			}

			@keyframes input-error {
				from {
					margin-bottom: 25px;
				} to {
					margin-bottom: 41px;
				}
			}

			@keyframes input-error-opacity {
				from {
					opacity: 0;
				} to {
					opacity: 1;
				}
			}
		}

		&__input-description {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.02em;
			text-align: left;
			width: 97px;
			min-width: 97px;
			margin: 0 12px 0 0;
			color: $color-dark;
		}

		&__input {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.02em;
			text-align: left;
			color: $color-dark;
			width: 100%;

			&::placeholder {
				color: $color-light-gray-2;
			}
		}

		&__input-checkbox {

		}

		&__input-checkbox-item {

		}

		&__input-privacy-policy {
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: -0.01em;
			text-align: left;
			color: $color-dark;
		}

		&__submit-label {
			position: relative;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			border-radius: 8px;
			background: $color-dark-blue-3;
			margin: 0 0 10px 0;
			transition: all .5s;
			opacity: 1;

			&:hover {
				background: $color-dark-blue-0;

				.form__submit-arrow {
					transition: all .5s;
					margin-right: 20px;
					opacity: 1;
					z-index: 1;
				}
			}
		}

		&__submit {
			font-size: 24px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: -0.02em;
			text-align: center;
			color: $color-white;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 74px;
			width: 100%;
			max-width: 100%;
			transition: all .5s;
			padding-right: 0;

			&:hover {
				padding-right: 40px;
			}

			&:after {
				content: attr(data-error);
				position: absolute;
				left: 0;
				bottom: -23px;
				width: 50px;
				height: 50px;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				letter-spacing: -0.01em;
				text-align: left;
				color: $color-error;
			}
		}

		&__submit-arrow {
			position: absolute;
			right: 105px;
			top: 50%;
			transform: translateY(-50%);
			height: 16px;
			width: 19px;
			transition: all .5s;
			opacity: 0;
			pointer-events: none;
		}

		&__description {
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: -0.01em;
			text-align: center;
		}
	}

	.success {
		background: rgba(12,13,16, 0.3);
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1000000000;

		&__inner {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #F0F3F6;
			border-radius: 8px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 50px 43px;
		}

		&__title {
			font-size: 50px;
			font-weight: 480;
			line-height: 50px;
			letter-spacing: -0.04em;
			text-align: left;
			font-variation-settings: 'slnt' 0;
			max-width: 305px;
			margin: 0 0 20px 0;
		}

		&__text {
			font-size: 22px;
			font-weight: 400;
			line-height: 29px;
			letter-spacing: -0.02em;
			text-align: center;
			margin: 0 0 30px 0;
		}

		&__btn {
			position: relative;
			font-size: 24px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: -0.02em;
			color: $color-white;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 74px;
			width: 100%;
			max-width: 100%;
			border-radius: 8px;
			background: $color-dark-blue-3;
			cursor: pointer;
			transition: all .5s;
			padding-right: 0;

			&:hover {
				padding-right: 40px;
			}

			&:hover {
				background: $color-dark-blue-0;

				.success__btn-close {
					transition: all .5s;
					margin-right: 20px;
					opacity: 1;
					z-index: 1;
					pointer-events: none;
				}
			}
		}

		&__btn-close {
			position: absolute;
			right: 105px;
			top: 50%;
			transform: translateY(-50%);
			height: 24px;
			width: 24px;
			transition: all .5s;
			opacity: 0;
			z-index: -1;
		}
	}

	.flag {
		display: flex;
		align-items: center;
		border: 1px solid $color-light-gray-1;
		border-radius: 20px;
		padding: 5px 4px 5px 10px;
		margin: -2px 10px -7px 0;
		height: 32px;
		max-width: 28%;

		&.flag--empty {
			&:before {
				content: '+';
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: -0.02em;
				text-align: left;
				color: $color-dark;
			}

			.flag__input {
				width: 14px;
				min-width: 14px;
			}
		}

		&__input {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: -0.02em;
			text-align: left;
			min-width: 24px;
			width: 24px;
			margin: 0 3px 0 0;

			&::placeholder {
				color: $color-light-gray-2;
			}
		}

		&__out-img {
			display: inline-block;
			height: 18px;
			min-height: 18px;
			width: 18px;
			min-width: 18px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			cursor: pointer;
			will-change: background-position;
		}
	}
	//
	// vue components style
	// end
}
