.launch-more {
	padding: 100px 0 0 0;
	overflow: hidden;

	@media ($media-tablet) {
		padding: 50px 0 0 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 0 70px 0;

		@media ($media-tablet) {
			margin: 0 0 40px 0;
		}
	}

	&__title {
		font-size: 70px;
		font-weight: 480;
		line-height: 70px;
		letter-spacing: -0.04em;
		text-align: center;
		max-width: 856px;
		margin: 0 auto 40px auto;
		color: $color-dark;

		@media ($media-tablet) {
			max-width: 856px;
			font-size: 70px;
			line-height: 70px;
			margin: 0 auto 30px auto;
		}

		@media ($media-mobile) {
			font-size: 50px;
			font-weight: 480;
			line-height: 50px;
		}
	}

	&__description {
		font-size: 20px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0;
		text-align: center;
		margin: 0 auto;
		color: $color-dark;
		max-width: 516px;

		@media ($media-tablet) {
			font-size: 22px;
			line-height: 29px;
			letter-spacing: -0.01em;
			max-width: 516px;

			br {
				display: none;
			}
		}

		@media ($media-mobile) {
			font-size: 18px;
			line-height: 23px;
			letter-spacing: -0.02em;
		}
	}
}

// start
// vue component style
//
.launch-more-slider {

	.controller {
		display: flex;
		justify-content: center;
		margin: 0 0 40px 0;

		@media ($media-tablet) {
			width: calc(100% + 60px);
			margin: 0 0 20px -30px;
		}

		@media ($media-mobile) {
			width: calc(100% + 40px);
			margin: 0 0 20px -20px;
		}

		&__inner {
			display: flex;
			align-items: center;
			justify-content: center;

			@media ($media-tablet) {
				display: block;
				overflow: auto;
				overflow-y: hidden;
				white-space: nowrap;
				padding: 0 30px 0 30px;
			}

			@media ($media-mobile) {
				padding: 0 20px 0 20px;
			}

			& > * {
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			&::-webkit-scrollbar {
				display: none;
			}

			& .controller__item:last-child {
				margin-right: 0;
			}
		}

		&__item {
			position: relative;
			display: inline-flex;
			white-space: normal;
			cursor: pointer;
			margin: 0 90px 0 0;

			@media ($media-tablet) {
				align-items: center;
				background: #FFFFFF;
				border-radius: 52px;
				overflow: hidden;
				margin: 0 10px 0 0;
				padding: 2px 0;
			}

			&--active {
				.controller__img {
					filter: grayscale(0);
					transition: filter 0s;
				}
			}
		}

		&__img {
			position: relative;
			filter: grayscale(1);
			transition: filter .7s;
			padding: 0 0 71px 0;
			display: flex;

			@media ($media-tablet) {
				padding: 0 0 0 8px;
				margin: 0 12px 0 0;
			}

			&:hover {
				filter: grayscale(0);
				transition: filter 0s;
			}

			&::before {
				content: attr(data-text);
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				font-size: 18px;
				font-weight: 400;
				line-height: 23px;
				letter-spacing: -0.02em;
				text-align: center;
				color: $color-dark;
				height: 46px;
				width: 145px;

				@media ($media-tablet) {
					display: none;
				}
			}

			img {
				width: 50px;
				height: 50px;
				background: #E8EBEE;

				@media ($media-tablet) {
					width: 40px;
					height: 40px;
					background: #FFFFFF;
				}
			}
		}

		&__text {
			display: none;

			@media ($media-tablet) {
				display: block;
				font-size: 18px;
				font-weight: 400;
				line-height: 23px;
				letter-spacing: -0.02em;
				text-align: left;
				color: $color-dark;
				white-space: nowrap;
				margin: 0 16px 0 0;
			}
		}
	}

	.swiper {
		height: 620px;
		width: 800px;
		margin: 0;
		overflow: visible;

		@media ($media-mobile) {
			width: 320px;
			height: auto;
		}
	}

	.swiper-pagination {
		display: none;
	}
}
//
// vue component style
// end
